asgiref==3.9.1
astroid==2.15.8
black==25.9.0
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.3.0
Django==5.2.6
django-browser-reload==1.19.0
django-taggit==6.1.0
flake8==6.1.0
flake8-django==1.4
idna==3.10
lazy-object-proxy==1.12.0
mccabe==0.7.0
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
pillow==11.3.0
platformdirs==4.4.0
pycodestyle==2.11.1
pyflakes==3.1.0
pytokens==0.1.10
requests==2.32.5
sqlparse==0.5.3
stripe==12.5.1
typing_extensions==4.15.0
urllib3==2.5.0
wrapt==1.17.3
