asgiref==3.9.1
astroid==2.15.8
black==25.9.0
blinker==1.9.0
certifi==2025.8.3
channels==4.3.1
charset-normalizer==3.4.3
click==8.3.0
dash==2.18.2
dash-bootstrap-components==1.7.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
Django==5.2.6
django-browser-reload==1.19.0
django-plotly-dash==2.5.0
django-taggit==6.1.0
dotenv==0.9.9
dpd_components==0.2.0
factory_boy==3.3.3
Faker==37.8.0
flake8==6.1.0
flake8-django==1.4
Flask==3.0.3
git-filter-repo==2.47.0
idna==3.10
importlib_metadata==8.7.0
itsdangerous==2.2.0
Jinja2==3.1.6
lazy-object-proxy==1.12.0
MarkupSafe==3.0.2
mccabe==0.7.0
mypy_extensions==1.1.0
narwhals==2.5.0
nest-asyncio==1.6.0
numpy==2.3.3
packaging==25.0
pandas==2.3.2
pathspec==0.12.1
pillow==11.3.0
platformdirs==4.4.0
plotly==6.3.0
pycodestyle==2.11.1
pyflakes==3.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytokens==0.1.10
pytz==2025.2
requests==2.32.5
retrying==1.4.2
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.3
stripe==12.5.1
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
Werkzeug==3.0.6
wrapt==1.17.3
zipp==3.23.0
