name: Deploy to GKE

on:
  push:
    branches:
      - main

env:
  PROJECT_ID: hireloop-476222
  GAR_LOCATION: us-central1
  REPOSITORY: hireloop-images
  IMAGE: hireloop
  CLUSTER: hireloop-cluster
  CLUSTER_ZONE: us-central1-a
  DEPLOYMENT_NAME: hireloop-deployment
  NAMESPACE: default

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Google Cloud authentication
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Configure Docker
        run: gcloud auth configure-docker $GAR_LOCATION-docker.pkg.dev --quiet

      - name: Build & Push
        run: |
          IMAGE_TAG=${{ github.sha }}
          IMAGE_FULL=$GAR_LOCATION-docker.pkg.dev/$PROJECT_ID/$REPOSITORY/$IMAGE:$IMAGE_TAG
          docker build -t $IMAGE_FULL .
          docker push $IMAGE_FULL
          echo "IMAGE_FULL=$IMAGE_FULL" >> $GITHUB_ENV

      - name: Get GKE credentials
        uses: google-github-actions/get-gke-credentials@v2
        with:
          cluster_name: ${{ env.CLUSTER }}
          location: ${{ env.CLUSTER_ZONE }}

      - name: Deploy & Force Rollout
        run: |
          set -e
          kubectl set image deployment/$DEPLOYMENT_NAME \
            $IMAGE=${{ env.IMAGE_FULL }} -n $NAMESPACE

          # Fuerza nuevo rollout
          kubectl patch deployment $DEPLOYMENT_NAME -n $NAMESPACE \
            -p "{\"spec\":{\"template\":{\"metadata\":{\"annotations\":{\"restart\":\"$(date +%s)\"}}}}}"

          echo "Waiting for rollout (300s)..."
          kubectl rollout status deployment/$DEPLOYMENT_NAME -n $NAMESPACE --timeout=300s

      - name: Cleanup
        if: success()
        run: kubectl delete pods -n $NAMESPACE -l app=$IMAGE --field-selector=status.phase=Succeeded --grace-period=0 --force || true